@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

.react-calendar {
  width: 100% !important;
  border: none !important;
  font-family: "Inter", sans-serif, !important;
}

.react-calendar__tile--active
{
    background-color: #C3EBFA !important;
    color: black;
}

.react-calendar__navigation__label__labelText {
  font-weight: 600;
  text-transform: capitalize;
}